<section>
  <div class="text-left">
    <h1><%= @user.name %>のcooking diary</h1>
    <p>レシピ数：（カウント）</p>
    <p>自己紹介<br><%= @user.introduce %></p>
  </div>
</section>


<div class="row">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title"><%= @user.created_at %></h3>
    </div>
    <div class="card-body">
      <p>写真を追加</p>
      <p>料理名を追加</p>
      <p>いいねを追加</p>
    </div>
  </div>
</div>